@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  min-height: 100vh;
}

header {
  top: 0px;

}

/*nav*/
.navbar-brand {
  color: #f495e7 !important;
  font-size: 1.5rem !important;
  font-family: 'Zen Dots', cursive;
}

.navbar-collapse {
  flex-grow: initial;
}

.navbar-light .navbar-nav .nav-link {
  color: #00ffff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(244, 149, 231);
  text-shadow: 0 0 5px #f495e7,
    0 0 25px #f495e7,
    0 0 50px #f495e7,
    0 0 100px #ffffff;
  transition: 1.3s;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #00ffff;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: rgb(244, 149, 231);
  text-shadow: 0 0 5px #f495e7,
    0 0 25px #f495e7,
    0 0 50px #f495e7,
    0 0 100px #ffffff;
  transition: 1.3s;
}

.navbar-toggler {
  padding: 0px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  transition: none;
  color: #f495e7

}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-menu {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(121, 9, 118, 1) 35%, rgba(0, 185, 255, 1) 100%);
}

.dropdown-item {
  color: #00ffff;
}

.dropdown-item:hover {
  color: rgb(244, 149, 231);
  text-shadow: 0 0 25px #00ffff,
    0 0 25px #f495e7,
    0 0 50px #00ffff,
    0 0 100px #f40b03;
  transition: 1s;
  background-color: rgba(121, 9, 118, 1);

}

.nav-link {
  color: #00ffff;
  font-size: 1rem;
  font-family: 'Zen Dots', cursive;
}




.navbar-brand:hover {
  color: rgb(244, 149, 231);
  text-shadow: 0 0 5px #f495e7,
    0 0 25px #f495e7,
    0 0 50px #f495e7,
    0 0 100px #ffffff;
  transition: 1.3s;
}

.bg-color {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(121, 9, 118, 1) 35%, rgba(0, 185, 255, 1) 100%);
}

.navbar {
  box-shadow: 0 0 10px #f495e7
}



/*grid index*/

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}
.gallery__img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.gallery__title {
  position: absolute;
}

/*footer*/
footer{
  margin-top: 0px;
  }
  .footer-container{
   
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-content: space-between;
  }
  
  .footer-menu{
    padding-bottom: 30px;
  }
  .footer-menu a{
    color: #00ffff;
    margin: 10px;  
  }
  
  .footer-menu a:hover{
    color: rgb(244, 149, 231);
    text-shadow: 0 0 5px #f495e7,
      0 0 25px #f495e7,
      0 0 50px #f495e7,
      0 0 100px #ffffff;
    transition: 1.3s;
  }
  .socials{
    display: flex;
    justify-content: center;
    color: darkgrey;
    margin-bottom: 10px;
    padding-top: 30px;
    font-family: 'Zen Dots', cursive;
    font-size: 20px;
  }
  
  .Copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom:4px;
    box-shadow: 0 0 10px #f495e7;
    background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(121, 9, 118, 1) 35%, rgba(0, 185, 255, 1) 100%);
    
  }

/*form work with us*/

.container__form{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  background-image: url(../imagenes/tokyo-city-aesthetic.gif);
  height: 850px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container__form .form .form__header .form__title {
  font-weight: normal;
  font-family: 'Zen Dots', cursive;
  color: #00ffff;
  text-align: center;
  padding: 14px 0;
  font-size: 20px;
}

.container__form .form .form__header .form__title span {
  color: #f495e7;
}

.container__form .form {
  background: rgb(0, 0, 0, .6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 25px 35px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.container__form .form .form__label {
  display: block;
  color: #00ffff;
  font-size: 16px;
  font-family: 'Zen Dots', cursive;
  position: relative;
}

.container__form .form .form__input,
.form__textarea {
  background: rgba(0, 0, 0, .7);
  border: none;
  outline: none;
  border-bottom: 2px solid #f495e7;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #ff851b;
  font-family: 'Zen Dots', cursive;
}


.container__form .form .form__textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.container__form .form .btn__submit {
  width: 100%;
  font-family: 'Zen Dots', cursive;
  outline: none;
  background: #00ffff;
  font-size: 16px;
  border: none;
  color: black;
  padding: 15px 0;
  cursor: pointer;
  transition: all 1.3s ease;

}

.container__form .form .btn__submit:hover {
  background: #f495e7;
  color: rgb(0, 255, 255);
  box-shadow: 0 0 5px #f495e7,
    0 0 25px #f495e7,
    0 0 50px #f495e7,
    0 0 100px #f495e7;
}


/*our crew*/

.carrousel {
  padding-top: 75px;
}

h5,p{
  font-family: 'Zen Dots', cursive;
  background: #00ffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carrousel2{
  padding-top: 75px;
 display: none;
}


/* about us*/

/*media querry*/

@media only screen and (max-width: 750px) {
  .carrousel {
    display: none;
  }
  .carrousel2 {
    display: flex;
  }
  
  .socials{
    display: flex;
    margin-top: 50px;
  }

  .footer-menu a{
   display: flex;
  justify-content: space-around;
  margin-top: 5px;
  padding: 5px;
  }
}
