.carrousel {
    padding-top: 75px;
    h5,p{
        font-family:nth($font-family,1 );
        background:nth($bg,4 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}

.carrousel2 {
    padding-top: 75px;
    display: none;
}