.container-card {
    padding: map-get($principal-container, padding-container);
    padding-top: 2rem;
    @include grid(grid, repeat(4, 1fr), 450px, 20px);

    .card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background: transparent;
        position: relative;
        width: 100%;
        height: 100%;


        &:hover .front {
            transform: perspective(600px) rotateY(180deg);
        }

        &:hover .back {
            transform: perspective(600px) rotateY(360deg);
        }

        .face {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }

        .front {
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h3 {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 45px;
                line-height: 45px;
                color:nth($colours ,3);
                background: rgba(0, 0, 0, .4);
                text-align: center;
                font-family: nth($font-family, 1);
            }
        }

        .back {
            transform: perspective(600px) rotateY(180deg);
            background:nth($bg,3);
            padding: 15px;
            color:nth($colours ,3);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            box-shadow: 0 5px 10px #000;
            span{
                color:nth($colours,1);
            }
            h3 {
                font-size: 30px;
                margin-top: 20px;
                letter-spacing: 2px;
                font-family: nth($font-family, 1);
            }

            p {
                letter-spacing: 1px;
                font-family: nth($font-family, 1);
            }

            .link {
                border-top: solid 1px #f3f3f3;
                height: 50px;
                line-height: 50px;

                a {
                    color:nth($colours ,1);
                }
            }
        }
    }
}