footer {
    margin-top: 0px;

    .footer-container {
        gap: 2rem;
        @include flex(flex, center, space-between, row);

        div {
            .socials {
                @include flex(flex, center, center, row);
                color: nth($colours, 8);
                margin-bottom: 10px;
                padding-top: 30px;
                font-family: nth($font-family, 1);
                font-size: nth($font-size, 8);
            }

            .footer-menu {
                padding-bottom: 30px;

                a {
                    color: nth($colours, 4);
                    margin: 10px;

                    &:hover {
                        color: nth($colours, 1);
                        text-shadow: 0 0 5px #f495e7,
                            0 0 25px #f495e7,
                            0 0 50px #f495e7,
                            0 0 100px #ffffff;
                        @extend %transition;
                    }
                }
            }
        }
    }

    .Copyright {
        @include flex(flex, center, flex-end, row);
        text-align: center;

        font-size: nth($font-size, 6);
        margin-top: 20px;
        margin-bottom: 4px;
        box-shadow: 0 0 10px #f495e7;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(121, 9, 118, 1) 35%, rgba(0, 185, 255, 1) 100%);

    }
}