.container__form {
    @include flex (flex, center, center, row);
    margin: 0 auto;
    background-image: url(../imagenes/tokyo-city-aesthetic.gif);
    height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    form {
        background: #00000099;
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 25px 35px;
        padding-bottom: 30px;
        border-radius: 3px;

        .form__header {
            .form__title {
                font-weight: normal;
                font-family:nth($font-family, 1);
                color:nth($colours, 4);
                text-align: center;
                padding: 14px 0;
                font-size: nth($font-size, 8);

                span {
                    color:nth($colours, 1);
                }
            }
        }

        .form__label {
            display: block;
            color:nth($colours, 4);
            font-size: nth($font-size, 7);
            font-family:nth($font-family, 1);
            position: relative;
        }

      

        .form__textarea,.form__input {
            background: rgba(0, 0, 0, .7);
            border: none;
            outline: none;
            border-bottom: 2px solid #f495e7;
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border-radius: 2px;
            font-size: nth($font-size, 5);
            color:nth($colours, 7);
            font-family:nth($font-family, 1);
            resize: vertical;
            max-height: 150px;
            min-height: 50px;
        }

        .btn__submit {
            width: map-get($button,btn-width);
            font-family:nth($font-family, 1);
            outline: none;
            background:map-get($button,btn-bg);
            font-size: nth($font-size, 7);
            border: map-get($button,btn-border);
            color:nth($colours, 9);
            padding:map-get($button,btn-padding);
            cursor: map-get($button,btn-cursor);
            @extend %transition;

            &:hover {
                background: #f495e7;
                color:nth($colours, 4);
                box-shadow: 0 0 5px #f495e7,
                    0 0 25px #f495e7,
                    0 0 50px #f495e7,
                    0 0 100px #f495e7;
            }
        }
    }

}