.parallax{
    background-image: url(../imagenes/parallax.jpg);
    height: 1280px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}