@media only screen and (max-width: 750px) {
    .carrousel {
        display: none;
    }

    .carrousel2 {
        display: flex;
    }

    footer {
        .footer-container {

            .socials {
                display: flex;
                margin-top: 50px;

            }

            .footer-menu {
                a {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 5px;
                    padding: 5px;
                }
            }
        }
    }





}