@media only screen and (max-width: 1200px) {
    .container-card {
        @include grid(grid, repeat(3, 1fr), 450px, 20px);
    }

    .about-text {
        margin-left: 10px;
    }
}


@media only screen and (max-width: 992px) {
    .container-card {
        @include grid(grid, repeat(2, 1fr), 450px, 20px);
    }

    .about {
        .main {

            .about-text {
                margin-left: 10px;

                h1 {
                    font-size: 60px;

                }


            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .carrousel {
        display: none;
    }

    .carrousel2 {
        display: flex;
    }

    footer {
        .footer-container {

            .socials {
                margin-top: 50px;

            }

            .footer-menu {
                flex-direction: column;

                a {
                    margin-top: 5px;
                    padding: 5px;
                }
            }
        }

    }

    .about {
        .main {
            img {
                width: 200px;
            }

            .about-text {
                margin-left: 10px;

                h1 {
                    font-size: 40px;

                }


            }
        }
    }

    @media only screen and (max-width: 550px) {
        .container-card {
            .card {
                .front {
                    h3 {
                        font-size: 17px;
                    }
                }

                .back {
                    h3 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    @media only screen and (max-width: 400px) {
        .container-card {
            .card {
                .front {
                    h3 {
                        font-size: 15px;
                    }
                }

                .back {
                    h3 {
                        font-size: 12px;
                    }

                    p {
                        font-size: 11px;
                    }
                }
            }
        }

        .about {
            display: flex;
            flex-direction: column;

            .main {


                img {
                    height: 430px;
                    width: 170px;
                }

                .about-text {
                    margin-left: 5px;

                    h1 {
                        font-size: 40px;

                    }

                    h2 {}

                    .aboutp {}
                }
            }
        }
    }
}

}