@media only screen and (max-width: 1200px) {
    .container-card {
        @include grid(grid, repeat(3, 1fr), 450px, 20px);
    }
}

@media only screen and (max-width: 992px) {
    .container-card {
        @include grid(grid, repeat(2, 1fr), 450px, 20px);
    }
}

@media only screen and (max-width: 768px) {
    .carrousel {
        display: none;
    }

    .carrousel2 {
        display: flex;
    }

    footer {
        .footer-container {

            .socials {
                margin-top: 50px;

            }

            .footer-menu {
                flex-direction: column;

                a {
                    margin-top: 5px;
                    padding: 5px;
                }
            }
        }

    }
}

@media only screen and (max-width: 600px) {
    .container-card {
        @include grid(grid, repeat(1, 1fr), 450px, 20px);
    }
}